// Colors
$color-primary: #007bff;
$color-secondary: #333;
$color-background: #f0f0f0;
$color-green: #49d447;
$color-green-l: #ebfaeb;
$color-red: #ff7262;
$color-red-l: #faecec;
$color-gray: #777;
$color-gray-l: #ccc;

// Device breakpoints
$tablet-breakpoint: 576px;
$desktop-breakpoint: 768px;
